<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header"/>
<link href='/lib/fullcalendar/main.css' rel='stylesheet' />
<script src="/lib/fullcalendar/main.js"></script>

<body>
<section id="container">
  <header th:replace="/fragments/bodyHeader.html :: bodyHeader" />
  <aside th:replace="/fragments/bodySidebar.html :: bodySidebar(currentMenu='calendar')" />

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row mt">
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-body">
                <div id="edit" class="tab-pane">
                  <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 detailed">
                      <h4 class="mb">Personal Information</h4>
                      <form role="form" class="form-horizontal" th:object="${dto}" method="post" onsubmit="return isInfoFilled();">
                        <div class="form-group">
                          <label class="col-lg-2 control-label" th:for="email">Email</label>
                          <div class="col-lg-6">
                            <input type="text" class="form-control"th:field="*{email}" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" th:for="name">Name</label>
                          <div class="col-lg-6">
                            <input type="text" class="form-control" th:field="*{name}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" th:for="nickname">Nickname</label>
                          <div class="col-lg-6">
                            <input type="text" class="form-control" th:field="*{nickname}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" th:for="phone">Phone</label>
                          <div class="col-lg-6">
                            <input type="text" class="form-control" th:field="*{phone}">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-theme" type="submit">Save</button>
                            <button class="btn btn-theme04" type="button">Cancel</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 detailed">
                      <h4 class="mb">Change Password</h4>
                      <form role="form" class="form-horizontal" th:action="@{'/members/'+ ${#authentication.principal.id} + '/updatePwd'}" method="post" onsubmit="return checkPwd();">
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Old password</label>
                          <div class="col-lg-6">
                            <input type="password" class="form-control" name="oldPwd">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">New password</label>
                          <div class="col-lg-6">
                            <input type="password" class="form-control" name="newPwd" onkeyup="checkNewPwdFormat()">
                          </div>
                        </div>
                        <p id="new-pwd-msg-area"></p>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Confirm new password</label>
                          <div class="col-lg-6">
                            <input type="password" class="form-control" name="confirmPwd">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-theme" type="submit">Update password</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 detailed">
                      <h4 class="mb">Delete Account</h4>
                      <button class="btn btn-theme04" type="button" onclick="confirmDelete()">Delete your account</button>
                      <br><br>
                      <div id="delete-confirmation" style="display: none;">
                        This action cannot be undone. If you want to continue the process, please enter the password.
                        <br><br>
                        <form role="form" class="form-horizontal" th:action="@{'/members/' + ${#authentication.principal} + '/delete'}" method="post">
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-6">
                              <input type="password" class="form-control" name="pwd" id="confirm-delete-pwd">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button class="btn btn-theme04" type="submit">Delete</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <!--main content end-->
    <footer th:replace="fragments/footer.html :: footer" />
  </section>

  <!--script for this page-->
  <!-- MAP SCRIPT - ALL CONFIGURATION IS PLACED HERE - VIEW OUR DOCUMENTATION FOR FURTHER INFORMATION -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
  <script>
    const COLORS = {
      WRONG: "#A6444C"
    }

    function isInfoFilled() {
      let name = document.getElementsByName("name")[0].value;
      let phone = document.getElementsByName("phone")[0].value;

      if (name == '' || phone == '') {
        alert('이름과 전화번호를 입력해주세요.');

        return false;
      }

      return checkPhoneFormat(phone);
    }

    function checkPhoneFormat(phone) {
      let regExp = /^\d+$/;
      let isMatched = regExp.test(phone);

      if (!isMatched) {
        alert('전화번호에 숫자만 입력해주세요.');
      }

      return isMatched;
    }

    function checkPwd() {
      let oldPwd = document.getElementsByName("oldPwd")[0].value;
      let newPwd = document.getElementsByName("newPwd")[0].value;
      let confirmPwd = document.getElementsByName("confirmPwd")[0].value;

      if (!isPwdFilled(oldPwd, newPwd)) {
        return false;
      }

      if (!checkNewPwdFormat()) {
        return false;
      }

      if (!isPwdMatched(newPwd, confirmPwd)) {
        alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.');

        return false;
      }

      return true;
    }

    function checkNewPwdFormat() {
      let regExp = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{8,16}$/;
      let newPwd = document.getElementsByName("newPwd")[0].value;

      let newPwdMsgArea = document.getElementById("new-pwd-msg-area");

      if (!regExp.test(newPwd)) {
        newPwdMsgArea.innerHTML = "√ 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요";
        newPwdMsgArea.style.color = COLORS.WRONG;

        return false;
      } else {
        newPwdMsgArea.innerHTML = "";

        return true;
      }
    }

    function isPwdFilled(oldPwd, newPwd) {
      return oldPwd != '' && newPwd != '';
    }

    function isPwdMatched(newPwd, confirmPwd) {
      return newPwd == confirmPwd;
    }

    function confirmDelete() {
      let deleteConfirmationArea = document.getElementById('delete-confirmation');
      deleteConfirmationArea.style.display = 'block';
    }
  </script>
</body>

</html>
