<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header"/>
<link href='/lib/fullcalendar/main.css' rel='stylesheet' />
<script src="/lib/fullcalendar/main.js"></script>

<body>
<section id="container">
  <header th:replace="/fragments/bodyHeader.html :: bodyHeader" />
  <aside th:replace="/fragments/bodySidebar.html :: bodySidebar(currentMenu='calendar')" />

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row mt">
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-body">
                <div id="edit" class="tab-pane">
                  <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 detailed">
                      <h4 class="mb">Personal Information</h4>
                      <form role="form" class="form-horizontal" th:object="${dto}" method="post">
                        <div class="form-group">
                          <label class="col-lg-2 control-label"> Avatar</label>
                          <div class="col-lg-6">
                            <input type="file" id="exampleInputFile" class="file-pos">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" th:for="email">Email</label>
                          <div class="col-lg-6">
                            <input type="text" class="form-control"th:field="*{email}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" th:for="name">Name</label>
                          <div class="col-lg-6">
                            <input type="text" class="form-control" th:field="*{name}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" th:for="nickname">Nickname</label>
                          <div class="col-lg-6">
                            <input type="text" class="form-control" th:field="*{nickname}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label" th:for="phone">Phone</label>
                          <div class="col-lg-6">
                            <input type="text" class="form-control" th:field="*{phone}">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-theme" type="submit">Save</button>
                            <button class="btn btn-theme04" type="button">Cancel</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 detailed">
                      <h4 class="mb">Change Password</h4>
                      <form role="form" class="form-horizontal" th:action="@{'/members/'+ ${#authentication.principal.id}} + '/updatePwd'" method="post">
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Old password</label>
                          <div class="col-lg-6">
                            <input type="password" class="form-control" name="oldPwd">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">New password</label>
                          <div class="col-lg-6">
                            <input type="password" class="form-control" name="newPwd">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Confirm new password</label>
                          <div class="col-lg-6">
                            <input type="password" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-theme" type="submit">Update password</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 detailed">
                      <h4 class="mb">Delete Account</h4>
                      <button class="btn btn-theme04" type="button">Delete your account</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <!--main content end-->
    <footer th:replace="fragments/footer.html :: footer" />
  </section>

  <!--script for this page-->
  <!-- MAP SCRIPT - ALL CONFIGURATION IS PLACED HERE - VIEW OUR DOCUMENTATION FOR FURTHER INFORMATION -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
  <script>
    $('.contact-map').click(function() {

      //google map in tab click initialize
      function initialize() {
        var myLatlng = new google.maps.LatLng(40.6700, -73.9400);
        var mapOptions = {
          zoom: 11,
          scrollwheel: false,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Dashio Admin Theme!'
        });
      }
      google.maps.event.addDomListener(window, 'click', initialize);
    });

    // 비밀번호와 비밀번호 확인이 일치하는지 확인하는 메소드 필요
  </script>
</body>

</html>
