<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header"/>
<link href='/lib/fullcalendar/main.css' rel='stylesheet' />
<script src="/lib/fullcalendar/main.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    let calendarEl = document.getElementById('calendar');
    let draggedEventIsAllDay ;

    let calendar = new FullCalendar.Calendar(calendarEl, {
      customButtons: {
        addSchedule: {
          text: '일정 등록',
          click: function(event) {
            location.href = "/calendar/schedule/one";
          }
        }
      },
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth addSchedule'
      },
      allDaySlot: true,
      displayEventTime : true,
      displayEventEnd : true,
      initialDate: new Date(),
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectMirror: true,
      locale: 'ko',
      timeFormat: 'HH:mm',
      views: {
        month: {eventLimit : 5}
      },
      select: function(arg) {
        let calendarStart = moment(arg.start).format('YYYY-MM-DD');
        let calendarEnd = moment(arg.end).subtract(1, 'days').format('YYYY-MM-DD');

        if(calendarStart == calendarEnd){
          location.href = "/calendar/schedule/one/" + calendarStart;

        } else{
          let calendarContent = prompt('일정 내용을 입력하세요.');
          if (calendarContent) {
            let isAllDay = arg.allDay;

            let data = {
              "calendarContent":calendarContent,
              "calendarStart":calendarStart,
              "calendarEnd":calendarEnd,
              "isAllDay":isAllDay,
              "calendarColor":"#A0A0A0FF"
            }

            if(isAllDay && calendarStart !== calendarEnd){
              calendarEnd = moment(arg.end).format('YYYY-MM-DD');
            }

            $.ajax({
              url: '/calendar/schedule',
              method: 'POST',
              data: data,
              dataType: 'text',
              success: function(data){
                calendar.addEvent({
                  title: calendarContent,
                  start: calendarStart,
                  end: calendarEnd,
                  allDay: isAllDay,
                  color: "#A0A0A0FF"
                });
              },
              error: function (request, status, error){
                console.log("code : " + request.status
                        + "\nmessage : " + request.responseText
                        + "\nerror : " + error);
              }
            });
          }
        }
        calendar.unselect()
      },
      eventClick: function(arg) {
        location.href = arg.event.url;
      },
      editable: true,
      dayMaxEvents: true, // allow "more" link when too many events

      // 일정 드래그 앤 드롭
      eventDragStart: function (event, jsEvent, ui, view) {
        draggedEventIsAllDay = event.allDay;
      },

      eventDrop: function (event) {
        // 수정된 날짜 반영
        let newDates = calDateWhenDragnDrop(event);

        // 드롭 일정 업데이트
        $.ajax({
          url: '',
          method: 'PUT'
        });
      },

      events: function(info, successCallback, failureCallback){
        $.ajax({
          url: '/calendar/schedule-list',
          method: 'GET',
          dataType: 'json',
          success: function(data) {
            let events = [];

            if(data != null){
              $.each(data, function(index, element) { // data의 요소 순회
                let calendarStart;
                let calendarEnd;
                let isAllDay = element.allDay;
                let calendarColor = element.calendarColor;

                if(isAllDay){
                  calendarStart = moment(new Date(element.calendarStartDate)).format('YYYY-MM-DD');
                  calendarEnd = moment(new Date(element.calendarEndDate)).format('YYYY-MM-DD');
                } else {
                  calendarStart = moment(new Date(element.calendarStartDate)).format('YYYY-MM-DD HH:mm');
                  calendarEnd = moment(new Date(element.calendarEndDate)).format('YYYY-MM-DD HH:mm');
                }

                if(isAllDay && element.calendarStartDate !== element.calendarEndDate){
                  calendarEnd = moment(new Date(element.calendarEndDate)).add(1, 'days').format('YYYY-MM-DD');
                } else if (!isAllDay && element.calendarStartDate !== element.calendarEndDate){
                  calendarEnd = moment(new Date(element.calendarEndDate)).add(1, 'days').format('YYYY-MM-DD HH:mm');
                }

                events.push({
                  title: element.calendarContent,
                  start: calendarStart,
                  end: calendarEnd,
                  allDay: isAllDay,
                  url: "/calendar/schedule/"+element.id,
                  color: calendarColor
                });
              });
            }
            successCallback(events);
          },
          error: function (request, status, error){
            console.log("code : " + request.status
                    + "\nmessage : " + request.responseText
                    + "\nerror : " + error);
          }
        });
      },
    });

    calendar.render();
  });

  function calDateWhenDragnDrop(event) {
    // 드랍 시 수정된 날짜 반영하기
    let newDates = {
      startDate: '',
      endDate: ''
    }
    // console.log(event._instance.allDay);
    // console.log(event.instance.start);
    console.log(event);
    console.log(event.start);
    // 날짜와 시간이 모두 같은 경우
    if(!event.end){
      event.end = event.start;
    }

    // all day 하루
    if(event.allDay && event.end === event.start){
      newDates.startDate = moment(event.start).format('YYYY-MM-DD');
      newDates.endDate = newDates.startDate;
    }

    // all day 2일 이상
    else if (event.allDay && event.end !== null) {
      newDates.startDate = moment(event.start).format('YYYY-MM-DD');
      newDates.endDate = moment(event.end).subtract(1, 'days').format('YYYY-MM-DD');
    }

    //all day가 아님
    else if (!event.allDay) {
      newDates.startDate = moment(event.start).format('YYYY-MM-DD HH:mm');
      newDates.endDate = moment(event.end).format('YYYY-MM-DD HH:mm');
    }

    return newDates;
  }
</script>

<body>
  <section id="container">
    <header th:replace="/fragments/bodyHeader.html :: bodyHeader" />
    <aside th:replace="/fragments/bodySidebar.html :: bodySidebar(currentMenu='calendar')" />

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Calendar</h3>
        <div class="row mt">
          <aside class="col-lg-9 mt">
            <section class="panel">
              <div class="panel-body">
                <div id="calendar" class="has-toolbar"></div>
              </div>
            </section>
          </aside>
        </div>
      </section>
    </section>
    <!--main content end-->
    <footer th:replace="fragments/footer.html :: footer" />
  </section>

  <script src="/lib/jquery-ui-1.9.2.custom.min.js"></script>
  <script src="/lib/fullcalendar/fullcalendar.min.js"></script>
  <script src="/lib/fullcalendar/moment.min.js"></script>
<!--  <script src="/lib/calendar-conf-events.js"></script>-->

</body>
</html>
