<!DOCTYPE html>
<html>

<head th:replace="/fragments/header.html :: header"/>
<style>
    .btns{
        float: right;
        padding: 20px;
    }

    button {
        margin: 3px;
    }
</style>

<body>
<section id="container">
  <header th:replace="/fragments/bodyHeader.html :: bodyHeader" />
  <aside th:replace="/fragments/bodySidebar.html :: bodySidebar(currentMenu='calendar')" />

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> Calendar</h3>
      <!-- BASIC FORM ELELEMNTS -->
      <div class="row mt">
        <div class="col-lg-12">
          <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> 일정 등록</h4>
            <form class="form-horizontal style-form" id="calendarForm">
<!--              <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
              <div class="form-group">
                <label class="col-sm-2 control-label">일정 내용</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="calendarContent" id="calendarContent" placeholder="일정 내용을 입력하세요.">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2">시작 날짜</label>
                <div class="col-md-3 col-xs-11">
                  <input class="form-control form-control-inline" size="16" type="date" id="startDate" th:value="${date}">
                  <span class="help-block">일정 시작 날짜를 입력하세요.</span>
                </div>
                <div class="col-md-3 col-xs-11 schedule-time">
                  <input type="time" class="form-control" id="startTime">
                  <span class="help-block">일정 시작 시간을 입력하세요.</span>
                </div>
                <label class="checkbox-inline">
                  <input type="checkbox" style="position: relative; top:1.5px;" id="allDay" value="false" name="isAllDay" th:checked="${date != null}"> 종일
                </label>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2">종료 날짜</label>
                <div class="col-md-3 col-xs-11">
                  <input class="form-control form-control-inline" size="16" type="date" id="endDate" th:value="${date}">
                  <span class="help-block">일정 종료 날짜를 입력하세요.</span>
                </div>
                <div class="col-md-3 col-xs-11 schedule-time">
                  <input type="time" class="form-control" id="endTime">
                  <span class="help-block">일정 종료 시간을 입력하세요.</span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2">일정 색상</label>
                <div class="col-sm-10">
                  <select class="form-control" name="calendarColor" id="edit-color">
                    <option value="#A0A0A0FF">기본</option>
                    <option value="#D25565" style="background:#D25565; color: white;">빨간색</option>
                    <option value="#9775fa" style="background:#9775fa; color: white;">보라색</option>
                    <option value="#ffa94d" style="background:#ffa94d; color: white;">주황색</option>
                    <option value="#74c0fc" style="background:#74c0fc; color: white;">파란색</option>
                    <option value="#f06595" style="background:#f06595; color: white;">핑크색</option>
                    <option value="#63e6be" style="background:#63e6be; color: white;">연두색</option>
                    <option value="#a9e34b" style="background:#a9e34b; color: white;">초록색</option>
                    <option value="#4d638c" style="background:#4d638c; color: white;">남색</option>
                    <option value="#495057" style="background:#495057; color: white;">검정색</option>
                  </select>
                  <span class="help-block">일정 색상을 선택하세요.</span>
                </div>
              </div>
              <input type="hidden" name="calendarStart" id="calendarStart">
              <input type="hidden" name="calendarEnd" id="calendarEnd">
              <div class="form-group btns">
                <button type="button" onclick="goSubmit();" class="btn btn-primary">등록</button>
                <button type="button" class="btn btn-info" onclick="goList();">취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </section>
    <!-- /wrapper -->
  </section>
  <!-- /MAIN CONTENT -->
  <!--main content end-->
  <footer th:replace="fragments/footer.html :: footer" />
</section>

<script>
  //SELECT 색 변경
  $('#edit-color').change(function () {
    let backColor = $(this).val();
    let fontColor;

    if(backColor === "#ffffff"){
      fontColor = "#555555"
    } else {
      fontColor = "#ffffff";
    }

    $(this).css('background', backColor);
    $(this).css('color', fontColor);
  });

  // 종일 체크
  $('#allDay').click(checkedAllDay());

  function checkedAllDay(){
    const isChecked = $('#allDay').is(':checked');

    if(isChecked){
      $('.schedule-time').hide();
      $('#allDay').val('true');
    } else {
      $('.schedule-time').show();
      $('#allDay').val('false');
    }
  }

  // submit
  function goSubmit() {
    let calendarContent = $('#calendarContent');
    let allDay = $('#allDay');
    let startDate = $('#startDate');
    let endDate = $('#endDate');
    let startTime = $('#startTime');
    let endTime = $('#endTime');

    let start;
    let end;

    if(!calendarContent.val()){
      alert('일정 내용을 입력하세요.');
      calendarContent.focus();
      return false;
    }

    if(!startDate.val()){
      alert('시작 날짜를 입력하세요.');
      startDate.focus();
      return false;
    }

    if(!endDate.val()){
      alert('종료 날짜를 입력하세요.');
      endDate.focus();
      return false;
    }

    if(allDay.val() === 'false'){
      if(!startTime.val()){
        alert('시작 시간을 입력하세요.');
        return false;
      }

      if(!endTime.val()){
        alert('종료 시간을 입력하세요.');
        return false;
      }

      start = startDate.val() + " " + startTime.val() + ":00";
      end = endDate.val() + " " + endTime.val() + ":00";
    } else {
      start = startDate.val();
      end = endDate.val();
    }

    $('#calendarStart').val(start);
    $('#calendarEnd').val(end);

    const submitForm = $('#calendarForm');
    submitForm.attr("action", "/calendar/schedule/one");
    submitForm.attr("method", "post");
      submitForm.submit();

  }

  $(function () {
    checkedAllDay();
  });

  // 목록으로
  function goList() {
      location.href = "/calendar/schedule-list";
  }
</script>

<script src="/lib/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/lib/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript" src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/lib/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="/lib/advanced-form-components.js"></script>

</body>

</html>
